@model List<ExportInstallationViewModel>
@{
    ViewData["NavTitle"] = "PDF export";
}
    <div class="container-fluid">
        <h1>Exporteren PDF verslag</h1>
        <div class="card border-0 shadow">
            <div class="row">
                <div class="col-12">
                    <table class="table table-fixed">
                        <thead>
                            <tr class="card-text">
                                <th>Installatiecode</th>
                                <th>Installatietype</th>
                                <th>Naam</th>
                                <th>Adres</th>
                                <th>Gemeente</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var installatie in Model)
                            {
                                <tr>
                                    <td width="10%">@Html.DisplayFor(modelItem => installatie.InstallatieCode)</td>
                                    <td width="10%">@Html.DisplayFor(modelItem => installatie.InstallatieType)</td>
                                    <td width="20%">@Html.DisplayFor(modelItem => installatie.Naam)</td>
                                    <td width="20%">@Html.DisplayFor(modelItem => installatie.Adres)</td>
                                    <td width="20%">@Html.DisplayFor(modelItem => installatie.Gemeente)</td>
                                    <td width="20%"><a asp-controller="Export" asp-action="ExportToPdf" asp-route-id="@installatie.InstallatieId" class="btn btn-primary py-2 btn-block">Exporteer pdf</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
