@model PaginatedList<ListBatteriesViewModel>
@{
    ViewData["NavTitle"] = "Lijst Actieve Batterijen";
}
<div class="container-fluid">
    <div class="h1 text-center">Lijst actieve batterijen</div>
    <div class="card border-0 shadow col-12">
        <div class="row">
            <div class="col-lg-6">
                <form asp-controller="Batterij" asp-action="ListActiveBatteries" method="get">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="submit">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                        <input class="form-control" name="name" value="@ViewData["CurrentNameFilter"]" placeholder="Zoek op relatie" />
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form asp-controller="Batterij" asp-action="ListActiveBatteries" method="get">
                    <div class="input-group date mb-3">
                        <div class="input-group-prepend">
                            <button type="submit">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                        <input class="form-control" id="datepicker" name="date" onkeydown="return false" , onpaste="return false" value="@ViewData["CurrentDateFilter"]" placeholder="Geplaatst vanaf" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <vc:list-batteries model="@Model"></vc:list-batteries>
            <div>
                <ul class="pagination ml-2">
                    <li class="page-item @(!Model.HasPreviousPage? "disabled":"")">
                        <a class="page-link" asp-action="ListActiveBatteries"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-name="@ViewData["CurrentNameFilter"]"
                           asp-route-date="@ViewData["CurrentDateFilter"]">
                            Vorige
                        </a>
                    </li>
                    <li class="page-item @(!Model.HasNextPage? "disabled":"")">
                        <a class="page-link" asp-action="ListActiveBatteries"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-name="@ViewData["CurrentNameFilter"]"
                           asp-route-date="@ViewData["CurrentDateFilter"]">
                            Volgende
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
