@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" />

    <title>Battery Service Support</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 64px; margin-top: 0px;">
        <div class="navbar-brand">Battery Service Support @ViewData["NavTitle"]</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="btn-dark" asp-controller="Account" asp-action="Logout">
                                <div class="nav-link">
                                    <div class="fas fa-user" style="width: 24px; height: 24px;"></div>
                                    Logout @User.Identity.Name
                                </div>
                                <span class="sr-only">(current)</span>
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">
                            <div class="fas fa-user" style="width: 24px; height: 24px;"></div>
                            Login
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Relatie" asp-action="Index">
                        <div class="fas fa-times" style="width: 24px; height: 24px;"></div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sidebar-container">
        <div class="sidebar-logo">
            <b>JOJO</b> Systems
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Navigatie</li>
            <li>
                <a asp-controller="Relatie" asp-action="Index">
                    <i class="fas fa-home" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a asp-controller="Export" asp-action="ListCustomers" asp-route-id="@ViewData["installatieId"]">
                    <i class="fas fa-file-pdf" aria-hidden="true"></i> Exporteer PDF
                </a>
            </li>
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Beheerder")))
            {
                <li class="header">Admin Menu</li>
                <li>
                    <a asp-controller="Administration" asp-action="ListUsers">
                        <i class="fas fa-users" aria-hidden="true"></i> Gebruikers
                    </a>
                </li>
                <li>
                    <a asp-controller="Administration" asp-action="ListRoles">
                        <i class="fas fa-user-tag" aria-hidden="true"></i> Rollen
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#navbarCollapseMenuLink" class="nav-link dropdown-toggle" data-toggle="collapse" aria-controls="navbarCollapseMenuLink" aria-expanded="false">
                        <i class="fas fa-info-circle" aria-hidden="true"></i> Batterijen
                    </a>
                    <div class="collapse" id="navbarCollapseMenuLink">
                        <a class="dropdown-item" asp-controller="Batterij" asp-action="ListActiveBatteries">
                            <i class="fas fa-battery-full" aria-hidden="true"></i> In Gebruik
                        </a>
                        <a class="dropdown-item" asp-controller="Batterij" asp-action="ListReplacedBatteries">
                            <i class="fas fa-battery-empty" aria-hidden="true"></i> Vervangen
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-file-csv" aria-hidden="true"></i> Exporteer CSV
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="content-container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.nl-BE.min.js"></script>
    <script src="~/lib/fontawesome-free-5.12.0-web/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
